<ng-container *ngIf="errDetails && errDetails.length > 0">
  <div
    *ngFor="let e of errDetails; let i = index"
    class="alert alert-danger"
    role="alert"
  >
    <span class="field-e"></span>{{ e.field }}
    <span class="message-e" *ngFor="let msg of e.messages">- {{ msg }}</span>
    <button
      (click)="removeErr(i)"
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-container>

<form [attr.id]="recurlyFormId">
  <div class="row">
    <div class="field col-sm-6 col-xs-12">
      <label for="first_name">First Name</label>
      <input
        id="first_name"
        class="form-control"
        type="text"
        data-recurly="first_name"
      />
    </div>
    <div class="field col-sm-6 col-xs-12">
      <label for="first_name">Last Name</label>
      <input
        id="last_name"
        class="form-control"
        type="text"
        data-recurly="last_name"
      />
    </div>
  </div>

  <div class="row">
    <div class="field col">
      <label>Card Info</label>
      <div data-recurly="card"></div>
    </div>
  </div>

  <div class="row">
    <div class="field col-sm-6 col-xs-12">
      <label for="first_name">Zipcode</label>
      <input
        id="postal_code"
        class="form-control"
        type="text"
        data-recurly="postal_code"
        maxlength="5"
      />
    </div>
  </div>
  <input type="hidden" name="recurly-token" data-recurly="token" />
  <button id="submitRecurly" class="btn btn-primary">Submit</button>
</form>
