<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center;">
  <h3>
    Recurly Example
  </h3>
  <h6 *ngIf="token">Token: {{ token }}</h6>
</div>

<div style="margin: 5em auto; padding: 1em; max-width: 600px;">
  <app-recurly-token-generator
    (newToken)="onNewToken($event)"
  ></app-recurly-token-generator>
</div>

<!-- <router-outlet></router-outlet> -->
